body {background-color:#F5EDDC;}

        hr {
        border-style:dotted;
        border-width: 5px;
        width: 10%;
        }
         h1{
            color: #430024;
           }
         h3{
            color:#606de1;
           }